aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
click
colorama
dnspython
email-validator
Flask
Flask-Login
Flask-WTF
frozenlist
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
multidict
requests
SQLAlchemy
urllib3
Werkzeug
WTForms
yarl
tzdata
