h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
h3 {
    font-family: "Times New Roman", Times, serif;
}
.btn-dark {
    position: fixed;
    right: 2%;
    top: 90%;
    z-index: 1;
}
.list-group-item-centered {
    align-self: center;
}
.modal-title {
    color: #de0000;
}
.btn-danger{
    background-color: #de0000;
}