<!DOCTYPE html>

<html lang="en">
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ letter }} · Доступные криптовалюты · What's the rate </title>
</head>
<a class="btn btn-dark" href="{{ url_for('crypto') }}" role="button">Вернуться к поиску</a>

<body>
<h1>Список доступных криптовалют ({{ letter }})</h1>
<ul class="list-group list-group gap-3">
    {% if crypto %}
    {% for pair in crypto %}
    <form action="" method="post">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">{{ pair['symbol'] }}</li>
            <li class="list-group-item">{{ pair['name'] }}</li>
            <li class="list-group-item">{{ pair['price'] }}</li>
            {% if current_user.is_authenticated == True %}
            <li class="list-group-item">
                {% if success == pair['symbol'] + "_a" %}
                <input class="btn btn-success btn-sm" type="submit" value="Добавить {{ pair['symbol'] }} в портфель"
                       name="add_stock"/>
                {% elif danger == pair['symbol'] + "_a" %}
                <input class="btn btn-danger btn-sm" type="submit" value="Добавить {{ pair['symbol'] }} в портфель"
                       name="add_stock"/>
                {% else %}
                <input class="btn btn-secondary btn-sm" type="submit" value="Добавить {{ pair['symbol'] }} в портфель"
                       name="add_stock"/>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </form>
    {% endfor %}
    {% else %}
    <div style="text-align: center;"><h3>Ничего не найдено</h3></div>
    {% endif %}
</ul>
</body>

{% endblock %}
</html>
