<!DOCTYPE html>

<html lang="en">
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Главная страница · What's the rate</title>
</head>
<h3>Прямо сейчас вы находитесь на главной странице сайта "What's the rate". Данный сайт позволяет вам отслеживать
    цену своего инвестиционного портфеля, состоящего из акций, валют и криптовалют.
    Используйте навигационную панель для регистрации или входа и затем наслаждайтесь использованием сайта!</h3>
{% endblock %}
</html>
