<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<h1>Авторизация</h1>
<head>
    <meta charset="UTF-8">
    <title>Авторизация · What's the rate</title>
</head>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email_or_username.label }}<br>
        {{ form.email_or_username(class="form-control", type="text") }}<br>
        {% for error in form.email_or_username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
        <a href="{{ url_for('register') }}">
            <button type="button" class="btn btn-primary" style="margin-left: 3%">Регистрация</button>
        </a>
    </p>
    <div>{{ message }}</div>
</form>
{% endblock %}
</html>
