<!DOCTYPE html>

<html lang="en">
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Мой аккаунт · What's the rate</title>
</head>
<body>
<h1>Аккаунт пользователя {{ current_user.username }}</h1>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary mx-auto" role="button" href="logout">Выйти из аккаунта</a>
</div>
<br>
<br>
<h3>Смена пароля</h3>
<form action="" method="post">
    {{ pass_form.hidden_tag() }}
    <p>
        {{ pass_form.old_password.label }}<br>
        {{ pass_form.old_password(class="form-control", type="text") }}<br>
        {% for error in pass_form.old_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ pass_form.new_password.label }}<br>
        {{ pass_form.new_password(class="form-control", type="password") }}<br>
        {% for error in pass_form.new_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ pass_form.new_password_submit.label }}<br>
        {{ pass_form.new_password_submit(class="form-control", type="password") }}<br>
        {% for error in pass_form.new_password_submit.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {% if pass_submit == 0 %}
    {{ pass_form.submit_pass(type="submit", class="btn btn-success") }}
    {% elif pass_submit == 1 %}
    {{ pass_form.submit_pass(type="submit", class="btn btn-danger") }}
    {% else %}
    {{ pass_form.submit_pass(type="submit", class="btn btn-primary") }}
    {% endif %}
    </p>
    <div>{{ message }}</div>
</form>
<br>

{% if not user_portfolio_link %}
<div class="btn-group mx-auto" style="width: auto;" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle mx-auto" style="width: 200px;"
            data-bs-toggle="dropdown" aria-expanded="false">
        Создать портфель
    </button>
        <ul class="mx-auto dropdown-menu" style="width: auto;" aria-labelledby="btnGroupDrop1">
            <form action="" method="post">
                <li>{{ portfolio_form.submit_private(class="dropdown-item") }}</li>
                <li>{{ portfolio_form.submit_public(class="dropdown-item") }}</li>
            </form>
        </ul>

</div>
{% else %}
<a class="btn btn-primary" role="button" href="{{ user_portfolio_link }}">
    Ваш портфель
</a>
{% endif %}

<div class="btn-group mx-auto" style="width: 300px; padding-left: 3%" role="group">
    <button id="btnGroupDrop2" type="button" class="btn btn-primary dropdown-toggle mx-auto" style="width: 200px;"
            data-bs-toggle="dropdown" aria-expanded="false">
        Изменить основную валюту
    </button>
    <ul class="mx-auto dropdown-menu" style="width: auto;" aria-labelledby="btnGroupDrop1">
        {% for currency, symbol in main_currencies %}
        <li><a class="dropdown-item" style="width: auto" href="/user/set_main_currency/{{ currency }}">{{ currency }} : {{ symbol }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
{% endblock %}
</html>
